@charset "utf-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #fff;
}

#wrap{
    padding:100px 50px 50px 50px;
    box-sizing: border-box;
}
/* header */
header {
    margin-bottom: 20px;
}
.playlist_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}
header .back {
    width: 50px;
    height: auto;
}
header .back img {
    width: 100%;
}
header .title h2 {
    font-size: 40px;
}
header .profile {
    width: 50px;
    height: auto;
}
header .profile img {
    width: 100%;
}
/*tab */
.tab {
    padding:10px 0 40px;
}
.tab ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 20px;
}
.tab ul li {
    position: relative;
    margin-right: 10px;
} 
.tab ul li.on {
    z-index: 2;
}
.tab ul li button {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    background: none;
    color: #fff;
    border: none;
    box-sizing: border-box;
}
.tab ul li.on button {
    border: 2px solid #ff2d55;
    border-radius: 20px;
    background: #ff2d55;
}
.tab_content {
    text-align: center;
    font-size: 60px;
    display: none;
}
.tab_content.on {display: block;}


/* movie */
.movie {
    margin-bottom: 10px;
}
.movie .movie_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.movie .movie_box .movie_box_img {
    position: relative;
}
.movie .movie_box .movie_box_img img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
}
.movie .movie_box .movie_box_img .time {
    position: absolute;
    font-size: 18px;
    background-color: #0000008b;
    right: 0; bottom: 15px;
}
.movie .movie_box .movie_box_txt {
    display: flex;
}
.movie .movie_box .movie_box_txt .score {
    font-size: 25px;
    margin-right: 15px;
    color: #bbb;
}
.movie .movie_box .movie_box_txt .txt {
    text-align: left;
    width: 200px;
}
.movie .movie_box .movie_box_txt p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
.movie .movie_box .movie_box_txt .title {
    font-size: 25px;
    font-weight: bold;
}
.movie .movie_box .movie_box_txt .artist {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}
.movie .movie_box .movie_box_txt .txt_bottom {
    display: flex;
    font-size: 13px;
}
.movie .movie_box .movie_box_txt .txt_bottom img {
    width: 12px;
    margin-right: 5px;
}
.movie .movie_box .movie_box_txt .txt_bottom .play {
   margin: 0 10px;
}
/* play_music */
.play_music {
    background: #ff2d55;
    padding: 15px 40px;
    border-radius: 80px 80px 0 0;
}
.play_music .play {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.play_music .play .play_album img {
    width: 130px;
}
.play_music .play .play_txt p {
    margin-left: 20px;
}
.play_music .play .play_txt p:first-child {
    font-size: 30px;
    font-weight: 500;
}
.play_music .play .play_txt p:last-child {
    font-size: 20px;
    font-weight: 500;
    color: #bbb;
}
.play_music .play .play_icon {
    position: absolute;
    right: 50px;
}
.play_music .play .play_icon img {
    width:40px;
    margin-left: 10px;
}

/* footer */
.footer_icon {
    background: #000;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer_icon img {
    width: 60px;
}