@charset "utf-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #fff;
}

/* header */
#wrap {
    padding:100px 50px 10px 50px;
    box-sizing: border-box;
}
.playlist_title {
    width: 100%;
}
header {
    margin-bottom: 20px;
}
header .back {
    width: 50px;
    height: auto;
    float: left;
}
header .back img {
    width: 100%;
}
header .title h2 {
    font-size: 40px;
    text-align: center;
}

/* top100 */
.top100 {
    margin-top:50px;
}
.top100 p {
    font-size: 18px;
    color: #666;
}
.top100 h2{
    font-size: 40px;
    letter-spacing: -1px;
}
.top100 h2 img{
    width: 40px;
}
/* top100 tab */
.tab {padding:10px 0 40px;}
.tab ul {display: flex;}
.tab ul li {
    position: relative;
    margin-right: 10px;
} 
.tab ul li.on {
    z-index: 2;
}
.tab ul li button {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    background: none;
    color: #fff;
    border: none;
    border: 2px solid #fff;
    border-radius: 20px;
}
.tab ul li.on button {
    border: 2px solid #ff2d55;
    background-color: #ff2d55;
}
.tab_content {
    text-align: center;
    font-size: 60px;
    display: none;
}
.tab_content.on {display: block;}

/* top100 */
.play {
    display: flex;
    margin-bottom: 10px;
}
.play .selection {
    margin-right: 30px;
}
.play .selection a {
    display: flex;
    align-items: center;
}
.play .selection a img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.play .selection a p {
    font-size: 14px;
    color: #fff;
}
.play .listen a {
    display: flex;
    align-items: center;
}
.play .listen a img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
.play .listen a p {
    font-size: 14px;
    color: #fff;
}
.toplist {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
}
#last_toplist {
    margin-bottom: 30px;
}
.toplist .toplist_img img {
    display: flex;
    margin-left: 20px;
}
.toplist .toplist_img img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.toplist .toplist_num {
    float: left;
    margin: 0 20px;
}
.toplist .toplist_num p {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.toplist .toplist_num span {
    display: block;
    background-color: #757575;
    width: 30px;
    height: 1px;
}
.toplist .toplist_title {
    width: 200px;
    text-align: left;
}
.toplist .toplist_title p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
.toplist .toplist_title p:first-child {
   font-size: 20px;
   font-weight: 500;
   color: #fff;
   margin-bottom: 5px;
}
.toplist .toplist_title p:last-child {
    font-size: 17px;
    font-weight: 500;
    color: #bbb;
 }
.toplist .toplist_play {
    position: absolute;
    right: 20px;
    top: 10px;
}
.toplist .toplist_play img {
    width: 25px;
    height: 25px;
}
/* play_music */
.play_music {
    margin-top: 20px;
    background: #ff2d55;
    padding: 15px 40px;
    border-radius: 80px 80px 0 0;
}
.play_music .play {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.play_music .play .play_album img {
    width: 130px;
}
.play_music .play .play_txt p {
    margin-left: 20px;
}
.play_music .play .play_txt p:first-child {
    font-size: 30px;
    font-weight: 500;
}
.play_music .play .play_txt p:last-child {
    font-size: 20px;
    font-weight: 500;
    color: #bbb;
}
.play_music .play .play_icon {
    position: absolute;
    right: 50px;
}
.play_music .play .play_icon img {
    width:40px;
    margin-left: 10px;
}

/* footer */
.footer_icon {
    background: #000;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer_icon img {
    width: 60px;
}